@(list : List[(Country,Int)])
<div class="container" >
    <table class="table table-hover">
	<thead>
	    <tr>
		<th >Country Name</th>
		<th >Country Code</th>
		<th >Country info</th>
		<th >Count</th>
	    </tr>
	</thead>
	@list.map{ case (country,count) =>
	    <tr>
	    <td >@country.name</td>
	    <td >@country.code</td>
	    <td ><a href="@country.wikipediaLink">@country.wikipediaLink</a></td>
	    <td >@count</td>
	    </tr>
	}
    </table>
</div>
