@(countryNairportsNrunways :List[(Country, List[(Airport, List[Runway])])])
@if(countryNairportsNrunways.isEmpty){
    Country not found
}else{
    @countryNairportsNrunways.map{case (country,airportsNRunways) =>
    Airport(s) for @country.name
<div class="container" >
    <table class="table table-hover">
	<thead>
	    <tr>
		<th >Airport Code</th>
		<th >Airport Name</th>
		<th > Runway</th>
	    </tr>
	</thead>
	@airportsNRunways.map{ case (airport : Airport,runways : List[Runway]) =>
	<tr>
	    <td>@airport.identifier</td>
	    <td>@airport.name</td>
	    <td>@runways.map{ runway =>
		<table class="table-bordered">
		    <tr>
			<td >@runway.surface</td>
			<td >@runway.leIdentifier</td>
		    </tr>
		</table>
		}
	  </td>
	</tr>	
	}
    </table>
</div>
 }
}
