@(list : List[(Country,List[String])])
<div class="container" >
    <table class="table table-hover">
	<thead>
	    <tr>
		<th >Country Name</th>
		<th >Country Code</th>
		<th >Country info</th>
		<th >Runways</th>
	    </tr>
	</thead>
	@list.map{ case (country,runWays) =>
	    <tr>
	    <td >@country.name</td>
	    <td >@country.code</td>
	    <td ><a href="@country.wikipediaLink">@country.wikipediaLink</a></td>
	    <td ><table class="table table-bordered">
                @runWays.map{runway =>
                <tr>
		  <td>@runway</td>
		 </tr>
		}
	      </table>
	    </td>
	    </tr>
	}
    </table>
</div>
