@(listOfRunways : List[String])
<div class="container" >
    <table class="table table-hover">
	<thead>
	    <tr>
		<th >Runway Identitfier</th>
	    </tr>
	</thead>
	@listOfRunways.map{ runway =>
	    <tr>
	    <td >@runway</td>
	    </tr>
	}
    </table>
</div>
