@(listCountries : String)
@main("Welcome to Lunatech Csv") {
    <script type="text/javascript">
     var queryCodeToggle = false;
     var queryNameToggle = false;
     $(document).ready(function(){
	 $("#queryCodeLink").click(function(){
             if(queryCodeToggle){
		 $("#queryCodeDiv").hide();
	     }
	     else{
		 $("#queryCodeDiv").show();
	     }
	     queryCodeToggle = !queryCodeToggle
	 });

	 var $input = $("#countryNameAC");
	 $input.typeahead({
	     source:@Html(listCountries),
	     autoSelect: true
	 });

	 $input.change(function() {
	     var current = $input.typeahead("getActive");
	     if (current) {
		 // Some item from your model is active!

		 if (current.name == $input.val()) {
		     // This means the exact match is found. Use toLowerCase() if you want case insensitive match.
			 console.log(current)
		     $("#countryCode").val(current.code)

		 } else {
		     // This means it is only a partial match, you can either add a new item
		     // or take the active if you don't want new items
		 }
	     } else {
		 // Nothing is active so it is a new value (or maybe empty value)
	     }
	 });

	 $("#queryCodeOK").click(function() {
	     var code = $("#countryCode").val()
	     $.ajax({
		 method: "POST",
		 url: "@controllers.routes.CsvController.queryByCode",
		 data: { code: code }
	     }).done(function( msg ) {
		 $("#queryResult").html(msg);
	     });
	 });

	 $("#queryNameLink").click(function(){
             if(queryNameToggle){
		 $("#queryNameDiv").hide();
	     }
	     else{
		 $("#queryNameDiv").show();
	     }
	     queryNameToggle = !queryNameToggle
	 });

	 $("#queryNameOK").click(function() {
	     var name = $("#countryName").val()
	     $.ajax({
		 method: "POST",
		 url: "@controllers.routes.CsvController.queryByName",
		 data: { name: name }
	     }).done(function( msg ) {
		 $("#queryResult").html(msg);
	     });
	 });

	 
     });
    </script>

    <table class="table">
	<tr>
	    <td class="col-md-1">Reporting</td>
	    <td class="col-md-8"><a href="@controllers.routes.CsvController.reporting" id="reportingLink">click here for reporting</a></td>
	</tr>
	<tr>
	    <td class="col-md-1">Query by Code</td>
	    <td class="col-md-8"><a href="#" id="queryCodeLink">click here for querying</a>
		<div style="display: none;" id="queryCodeDiv">
			<label for="countryName">Country Name</label>
       			<input type="text" name="countryNameAC" id="countryNameAC" value=""><input type="button" value="ok" id="queryCodeOK">
			<input type="hidden" name="countryCode" id="countryCode" value="">
		</div>
	    </td>
	</tr>

		<tr>
	    <td class="col-md-1">Query By Name</td>
	    <td class="col-md-8"><a href="#" id="queryNameLink">click here for querying</a>
		<div style="display: none;" id="queryNameDiv">
			<label for="countryName">Country Name</label>
       			<input type="text" name="countryName" id="countryName" value=""><input type="button" value="ok" id="queryNameOK">
		</div>
	    </td>
	</tr>
    </table>

    <div id="queryResult"></div>
    }
