@(top10Countries :Html,bottom10Countries :Html, countriesNrunwayType :Html, topRunways :Html)
@main("Csv Reporting") {
    <div id="top10Countries">
	<div>Top 10 Countries with most airports</div>
	@top10Countries
    </div>

    <div id="bottom10Countries">
	<div>Top 10 Countries with least airports</div>
	@bottom10Countries
    </div>

    <div id="countriesNrunwayType">
	<div>Top runways</div>
	@topRunways
    </div>

    <div id="countriesNrunwayType">
	<div>Countries with their runways</div>
	@countriesNrunwayType
    </div>
}
